<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create note</title>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/create_note.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lexend+Mega&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

</head>

<body ondragstart="return false;" ondrop="return false;">

    <script src="js/app.js"></script>
    <div class="sticky major-options">
        <div>
            <button name="file">File</button>
            <button name="home">Home</button>
            <button name="insert">Insert</button>
            <!-- <button name="layout">Layout</button> -->
            <button name="help">Help</button>
        </div>
        <div class="target"></div>
    </div>
    <div class="show_target">
        <div class="show" id="show_a">
            show html/css <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
        <div class="show" id="show_b">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> show page
        </div>
    </div>
    <div class="name">

    </div>
    <div class="layout">
        <div class="css-wrap">
            <div class="css">

                <div class="grp">
                    <button id="outline" name="html">HTML</button>
                    <button name="css">CSS</button>

                </div>

                <textarea spellcheck="false">
                </textarea>

            </div>
        </div>
        <div class="divide"></div>

        <div class=" paper-wrap">
            <iframe src="http://localhost:3000/file/o.notes/create_note/paper" style="border: none;"
                title="Iframe Example" class="paper"></iframe>
            <!-- <div class="paper" contenteditable=true>

            </div> -->


        </div>
    </div>
    <footer>
        paper:
    </footer>
    <script>let fonts = '<%-JSON.stringify(fonts)%>';</script>
    <script src="js/file_options.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>