.body{
	padding:1rem;
	background-color:pink;
	height:100%;
	font-size:1rem;
	color:teal;
}
h2{
	text-align:center;
	text-decoration:underline;
}
.inside{
	background-color: green;
	
}
a{
	color:red;
	
}
.b{
	width:100%;
	height:100%;
	
}
p{
	background-color:white;
	width:fit-content;
	margin:1rem auto;
	text-transform:uppercase;
	
}
p:before{
	content:"\"";
	
}
p:after{
	content:"\"";
	
}
#point{
	cursor:pointer;
	
}
header{
	background-color:white;
	padding:0.5rem;
	text-align:center;
	
}